
<div class="my-page">
<body>
    
    <!-- <p style="text-align: center"> About Us</p> -->
  <div class="text">
<p style="text-align: center">
    
    The project focuses at providing an easy and reliable platform to recharge mobile of any telecommunication company through online without buying recharge card.
    The registered users of the system can recharge their prepaid mobile phones or can pay their postpaid mobile bills from anywhere at any time.
    The proposed project for recharging mobiles developed to automate the mobile recharging process. 
    It roots out the manual card system of recharge and introduces a new and genuine online recharge process.
    The online mobile recharge system is beneficial to both the admins and users. Using the online application, the admin can add new operators,
    offers and update or modify the existing tariff plans. It helps the users in creating their account, and then recharging the mobiles phones at any time.

</p>
</div>
</body>
</div>