<!-- <app-userregform></app-userregform> -->
<!-- <app-login></app-login> -->
<!-- <div ui-view="dthRecharge-header"><header class="header-small-fx">
    <nav class="navbar navbar-default">
      <div class="container-fluid large-menu">
        <div class="navbar-header">
          <a class="navbar-brand" href="//www.airtel.in" target="_blank"><img alt="airtel_logo" src="https://assets.airtel.in/static-assets/selfcare/images/logo.png"></a>
        </div>
      </div>
    </nav>

    <div class="content-wrap bg-white-gray">
    <section class="padding-0 dth-rechanrge">  -->

 <nav >
           
    <ul class="nav nav-tabs">
        <li roueterActiveLink="active"><a class="nav-link" routerLink='/home'>Home</a></li>
        <!-- <li roueterActiveLink="active"><a class="nav-link" routerLink='/gallary'>Gallary</a></li> -->
        <li roueterActiveLink="active"><a class="nav-link" routerLink='/about'>About Us</a></li>
        <li roueterActiveLink="active"><a class="nav-link" routerLink='/contact'>Contact Us</a></li>
        <li roueterActiveLink="active"><a class="nav-link" routerLink='/login'>Login</a></li>
     
    </ul>
</nav>
        <router-outlet></router-outlet> 
        <!-- <app-payment></app-payment> -->
        