<br>
<br>
    <div class="form-group t">
        <label for="operator">
          Operators
        </label>
        <select name="operator" (change)="sel($event.target.value)" class="form-control">
            <option *ngFor="let a of arr">{{a}}</option>      
        </select>
    </div>
<br>
<br>
<table class="table table-bordered" >
    <tr>
        <th>Operator Id</th>
        <th>Operator Name</th>
        <th>Description</th>
        <th>Rate</th>
        <th>Action</th>
    </tr>
    <ng-container *ngFor="let v of view">
    <tr *ngIf="data=='all' || data==v.operator">
        <td>{{v.id}}</td>
        <td>{{v.operator}}</td>
        <td>{{v.des}}</td>
        <td>{{v.rate}}</td>
        <td>
            <button type="button" class="btn btn-success" (click)="go()">RechargeNow</button>
         
        </td>
    </tr>
    </ng-container>

</table>
